html, body {
    height: 100%;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
}
body {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    padding-top: 40px;
    background: linear-gradient(-45deg, #52ee86, #6de73c, #23d5a0, #23d5ab);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
}
@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}
.btn-outline-light{
    color: #f8f9fa;
    border-color: #f8f9fa;
    background-color: transparent;
}
.btn-outline-light:hover {
    color: #212529;
    background-color: #f8f9fa;
    border-color: #f8f9fa;
}
div img{
    max-width: 600px;
}